/* Fonts files adding */

@font-face {
  font-family: "Whitney Light";
  src: url("/assets/fonts/whitneylight.woff") format("woff");
}

@font-face {
  font-family: "Whitney Medium";
  src: url("/assets/fonts/whitneymedium.woff") format("woff");
}

@font-face {
  font-family: "Whitney Bold";
  src: url("/assets/fonts/whitneybold.woff") format("woff");
}

/* fonts files ends */

/* Root styling */

:root {
  --light-clr: #fff;
  --dark-clr: #23272a;
  --brand-clr: #5865f2;
  --off-white-clr: #f6f6f6;
  --general-font-size: 2rem;
  --primary-title-font-size: 4.8rem;
  --secondary-title-font-size: 4rem;
  --main-font-family-light: "Whitney Light", sans-serif;
  --main-font-family-medium: "Whitney Medium", sans-serif;
  --main-font-family-bold: "Whitney Bold", sans-serif;
  --num-of-grid-columns: 4;
  --section-spacing: 5.6rem 2.4rem;
  --container-width: 126rem;
}
/* end of root styling */

/* Global css styling */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-size: var(--general-font-size);
  font-family: var(--main-font-family-light);
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  max-width: 100%;
  display: block;
}

/* Global css styles ends */

/* hero section starts */
.hero {
  background: url("/assets/images/hero-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-header {
  height: 8rem;
  padding: 0 2.4rem;
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
}

.main-nav {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px;
}

.logo {
  width: 12.4rem;
}

.logo svg {
  color: #fff;
}

.nav-list {
  display: none;
  font-family: var(--main-font-family-medium);
  font-size: 16px;
  letter-spacing: 0.5px;
}

.nav-item a {
  font-size: 16px;
  font-weight: bold;
}

.nav-item-right {
  display: flex;
  align-items: center;
}

.btn:hover {
  box-shadow: 0 0.8rem 1.5rem rgba(0, 0, 0, 0.7);
}

.btn-small {
  font-size: 1.4rem;
  padding: 0.7rem 1.6rem;
  border-radius: 4rem;
}

.btn-light {
  background-color: var(--light-clr);
  color: var(--dark-clr);
}

.btn-light i {
  margin-right: 0.5rem;
}

.btn-light:hover {
  color: var(--brand-clr);
}

.btn-login {
  margin-right: 1.5rem;
  line-height: 1.8rem;
}

.mobile-toggle {
  display: flex;
  font-size: 3.6rem;
  color: var(--light-clr);
  cursor: pointer;
}

.btn-close {
  display: none !important;
}

.row {
  display: grid;
  grid-template-columns: repeat(var(--num-of-grid-columns, 1fr));
  gap: 0.2rem;
  padding: var(--section-spacing);
}

.hero-content-wrap {
  grid-column: span var(--num-of-grid-columns);
  color: var(--light-clr);
}

.title {
  font-family: var(--main-font-family-bold);
}

.primary-title {
  font-size: var(--primary-title-font-size);
  line-height: 120%;
}

.hero-description {
  line-height: 3.2rem;
  margin-top: 2.5rem;
}

.hero-btn-group .btn-light {
  margin: 2.5rem 2.5rem 0 0;
  display: inline-flex;
}

.hero-btn-group .btn-light {
  align-items: center;
  margin-right: 0.8rem;
}

.btn-large {
  padding: 1.6rem 3.2rem;
  border-radius: 2.8rem;
}

.btn-dark {
  background-color: var(--dark-clr);
  color: var(--light-clr);
  margin-top: 2.5rem;
  transition: background-color 0.5s;
}

/* hero section ends */

/* Collaboration section styles */

.grid-image {
  margin-top: 2.5rem;
  grid-gap: span 4;
}

.text {
  font-family: var(--main-font-family-bold);
}

.text-group {
  margin-top: 2rem;
  grid-gap: span 4;
}

.secondary-title {
  font-size: var(--secondary-title-font-size);
}

.text-group p {
  margin-top: 2.2rem;
  line-height: 3.2rem;
}

/* Collabaration section styles ends */

/* The Voice Channel section  */
.voice-channel {
  background-color: var(--off-white-clr);
}

/* End of Voice Channel section */

/* Video call section */
.video-call {
  background-color: var(--off-white-clr);
}

.video-call .row {
  padding-bottom: 8rem;
}

.video-call .text-group {
  grid-column: span var(--num-of-grid-columns);
  margin-top: 0;
}

.video-call .text-group p {
  margin-top: 2.4rem;
}

.video-call .grid-image {
  width: 100%;
  grid-column: span var(--num-of-grid-columns);
  margin-top: 2.4rem;
}

/* End of Video call section styles */

/* Download section */
.download {
  background-color: var(--off-white-clr);
}

.download .remove-grid {
  display: block;
  padding-top: 0;
  text-align: center;
}

.sparkles {
  display: inline-block;
}

.download h2 {
  font-size: 3.2rem;
  font-family: var(--main-font-family-medium);
}

.btn-brand {
  background-color: var(--brand-clr);
  color: var(--light-clr);
  transition: background-color 0.5s;
}

.btn-brand:hover {
  background: #7983f5;
}

.btn-brand i {
  margin-right: 0.8rem;
}

.download .btn-brand {
  margin-top: 3rem;
}

/* End of Download section */

/* Footer section */

/* End of footer section */
