/* Fonts files adding */

@font-face {
  font-family: "Whitney Light";
  src: url("/assets/fonts/whitneylight.woff") format("woff");
}

@font-face {
  font-family: "Whitney Medium";
  src: url("/assets/fonts/whitneymedium.woff") format("woff");
}

@font-face {
  font-family: "Whitney Bold";
  src: url("/assets/fonts/whitneybold.woff") format("woff");
}

/* fonts files ends */

/* Root styling */

:root {
  --light-clr: #fff;
  --dark-clr: #23272a;
  --brand-clr: #5865f2;
  --off-white-clr: #f6f6f6;
  --general-font-size: 2rem;
  --primary-title-font-size: 4.8rem;
  --secondary-title-font-size: 4rem;
  --main-font-family-light: "Whitney Light", sans-serif;
  --main-font-family-medium: "Whitney Medium", sans-serif;
  --main-font-family-bold: "Whitney Bold", sans-serif;
  --num-of-grid-columns: 4;
  --section-spacing: 5.6rem 2.4rem;
  --container-width: 126rem;
}
/* end of root styling */

/* Global css styling */

/* Global css styles ends */
